@charset "utf-8";
*{line-height: 1em;padding: 0;margin: 0;border:0;font-size: 0;font-family:"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;}

a{text-decoration:none}

body{background: #fff;}
ul, li{font-style: normal;list-style:none;} 
#nav{width:100%; height:80px; background:#fff;margin:0 auto;overflow:hidden;} 
.nav-neirong{width: 1200px;margin: 0 auto;}
.nav-neirong div{float: right;margin-top: 20px;}
.nav-neirong img{height: 60px;margin-top: 10px;}
#nav li{display:inline-block;} 
#nav li a{display:inline-block;padding:0 25px;color:#333;text-decoration:none;font-size: 14px;line-height: 50px; } 
#nav li a:hover{background:#fff;color: #036eb8;} 
#nav li ul {position:absolute; display:none; z-index: 88;width: 120px;background:#fff;text-align: center;}
#nav li ul li {display: block;}
#nav li ul li a {color: #666;}
#nav li:hover ul{display:block; }

.nav-yidong{display: none;}
#nav3{display: none;}

.swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
.swiper-slide{background: #fff;overflow: hidden;}

.biaoti{font-size: 32px;font-weight: 800;color: #333;width: 100%;text-align: center;letter-spacing:1px}
.biaoti1{font-size: 16px;font-weight: 400;color: #999;width: 100%;text-align: center;letter-spacing: 1px;}

.icon{width: 100%;background: #fff;height: 480px;padding-top: 100px;}
.icon h2{margin-bottom:20px;}
.icon h3{margin-bottom: 80px;}
.icon-neirong{width: 1200px;margin: 0 auto;}
.icon-neirong div{display: inline-block;width: 300px;text-align: center;background-size:120px ;float: left;}
.icon-neirong div img{height: 160px;display: none;}
.icon-neirong div p{font-size: 20px;margin: 140px auto 10px;color: #333;transition:margin-top 1s;-moz-transition:margin-top 1s;-webkit-transition:margin-top 1s;-o-transition:margin-top 1s; }
.icon-neirong div span{display: inline-block;width: 66%;font-size: 14px;color: #999;line-height: 21px;}
.icon1{background: url(../img/icon1.png) center top no-repeat;}
.icon2{background: url(../img/icon2.png) center top no-repeat;}
.icon3{background: url(../img/icon3.png) center top no-repeat;}
.icon4{background: url(../img/icon4.png) center top no-repeat;}
.icon-neirong div:hover img{display: inline-block;}
.icon-neirong div:hover p{margin-top: 20px; color: #036eb8;font-size: 22px;}
.icon-neirong div:hover span{display: none;}

.work{width: 100%;background: #f5f5f5;height: auto;padding-top: 100px;padding-bottom: 40px;}
.work h2{margin-bottom: 20px;}
.work h3{margin-bottom: 60px;}
.work-neirong{width: 1200px;margin: 0 auto;}
.work-border{width: 380px;margin: 10px;display: inline-block;position: relative;}
.work-border-img{width: 380px;height: 260px;border-radius: 4px 4px 0 0;overflow: hidden;background: #000;}
.work-border-img i{position: absolute;top: 115px;width: 100%;text-align: center;z-index: 99;color: #fff;line-height: 30px;}
.work-border-img img{width: 380px;height: 260px;position: relative;top: 0;left: 0;
						transition:width 1s,height 1s,left 1s,top 1s;
					-webkit-transition:width 1s,height 1s,left 1s,top 1s; /* Safari */
					-moz-transition:width 1s,height 1s,left 1s,top 1s;; /* Firefox 4 */
					-o-transition: width 1s,height 1s,left 1s,top 1s;; /* Opera */}
.work-border-font{width: 380px;height: 80px;background: #fafafa;border-radius: 0 0 4px 4px;overflow: hidden;}
.work-border-font p{font-size: 18px;color: #333;margin: 20px 0 10px 20px;}
.work-border-font span{font-size: 14px;color: #999;margin-left: 20px;}
.work-border:hover img{opacity: .6;width: 400px;height: 274px;left: -10px;top: -7px;}
.work-border:hover i{font-size: 18px;}
.work-border:hover p{color: #036eb8;}
.work-border:hover span{color: #333;}

.gengduo{width: 300px;margin: 60px auto 0;text-align: center;}
.gengduo p{font-size: 14px;color: #999;margin: 10px auto 6px;}
.gengduo img{width: 10px;margin-bottom: 10px;}
.gengduo:hover p{color: #666;}

.bg1{width: 100%;height: 100%;background: url(../img/bg1.png) center;background-size: cover;
-webkit-background-size: cover;-o-background-size: cover;position: fixed;top: 0;z-index: -99;}

.liucheng{width: 100%;height: 560px;padding-top: 130px;}
.liucheng h3{font-size: 32px;font-weight: 800;color: #fff;width: 100%;text-align: center;letter-spacing:1px;margin-bottom: 100px;}
.liucheng1{width: 1200px;margin: 0 auto;}
.liucheng2{width: 180px;display: inline-block;margin: 0 30px;text-align: center;cursor:pointer;}
.liucheng2 div{width: 100px;height: 100px;border-radius: 100px;background:rgba(0,0,0,.1);margin: 0 auto;}
.liucheng2 div img{width: 40px;margin-top: 30px; }
.liucheng1 p{font-size: 18px;color: #ccc;margin: 30px auto 20px;}
.liucheng1 span{font-size: 14px;color: #999;line-height: 21px;transition:color 2s;-moz-transition:color 2s;-webkit-transition:color 2s;-o-transition:color 2s;}
.liucheng2:hover div img{width: 44px;margin-top: 26px;}
.liucheng2:hover p{color: #fff;}
.liucheng2:hover span{color: #fff;}

.news{width: 100%;background: #F5F5F5;padding-top: 120px;padding-bottom: 80px;}
.news h2{margin-bottom: 70px;}
.news1{width: 1200px;margin: 0 auto;}
.news1 div{width: 560px;display: inline-block;height: 140px;margin: 20px 20px;}
.news1 div img{width: 200px;height: 140px;float: left;margin-right: 20px;}
.news1 div h6{font-size: 20px;line-height: 22px;color: #333;font-weight: 400;margin: 16px auto;width: 340px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.news1 div p{font-size: 14px;color: #999;line-height: 21px;width: 340px;height: 42px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.news1 div span{font-size: 18px;color: #ccc;display: inline-block;margin-top: 26px;font-weight: 200;}
.news1 div:hover h6{color: #036eb8;}
.news1 div:hover p{color: #666;}

.team{width: 100%;height: 640px;background: #fff;padding-top: 120px;}
.team-tou{width: 1200px;margin: 80px auto 50px;text-align: center;}
.team-tou p{display: inline-block;font-size: 14px;margin:0 10px;padding: 10px 20px;border-radius: 100px;cursor: pointer;}
.team-tou p:hover{border-color: #036eb8;}
.team1{border: 1px solid #ccc;color: #666666;}
.team2{border: 1px solid #036eb8;background: #036eb8;color: #fff;}
.team-wei{width: 1100px;margin: 0 auto;height: 260px;padding-top: 20px;}
.team-wei img{width: 400px;height: 260px;border-radius: 10px;float: left;margin-left: 50px;}
.team-wei div{width: 560px;float: right;margin-right: 50px;}
.team-wei h5{font-size: 24px;font-weight: 400;margin: 20px 0 24px;}
.team-wei p{font-size: 18px;color: #666;margin-bottom: 30px;}
.team-wei a{font-size: 10px;display: block;width: 60px;height: 2px;background: #007AFF;margin-bottom: 20px;}
.team-wei span{font-size: 15px;color: #666;line-height: 25px;}

.hezuo{width: 100%;background: #fff;height: 600px;padding-top: 120px;}
.hezuo h3{margin-bottom: 60px;}
.hezuo1{width: 1200px;margin: 0 auto;}
.hezuo1 div{width: 260px;height: 140px;display: inline-block;margin: 20px;position: relative;overflow: hidden;cursor: pointer;}
.hezuo1 div img{width: 260px;position: absolute;top: 0;transition:top 1s;-moz-transition:top 1s;-webkit-transition:top 1s;-o-transition:top 1s;}
.hezuo1 div p{width: 200px;margin:50px 30px;color: #333;position: absolute;top: 0;left: 0;line-height: 21px;}
.hezuo1 div:hover img{top: -140px;}
.hezuo1 div:hover p{font-size: 14px;}

.di{width: 100%;height: 260px;background: url(../img/bg0.png) center no-repeat;background-size: cover;
-webkit-background-size: cover;-o-background-size: cover;}
.di-kuang{width: 1200px;margin: 0 auto;;}
.di-kuang-left{float: left;width: 700px;height: 220px;margin-left: 20px;}
.di-kuang-left1{margin: 60px 0 40px;}
.di-kuang-left1 a{font-size: 14px;color: #fff;margin-right: 30px;}
.di-kuang-left p{font-size: 14px;color: #999;margin-bottom: 20px;}

.di-kuang-left2 a{font-size: 14px;color: #ccc;margin-right: 30px;}
.di-kuang-right{float: right;width: 330px;height: 220px;}
.di-kuang-right h1{font-size: 20px;font-weight: 400;color: #fff;margin: 60px 0 30px;}
.di-kuang-right p{font-size: 16px;color: #ccc;margin-bottom: 10px;}
.di1{width: 100%;text-align: center;height: 30px;}
.di1 span{display: inline-block;font-size: 12px;line-height: 30px;color: #888;}

.di-kuang-left1 a:hover{color: #ccc;}
.di-kuang-left2 a:hover{color: #fff;}

.banner2{width: 100%;height: 300px;background:url("../img/banneranli.png") center no-repeat;background-size: cover;}
.banner3{width: 100%;height: 300px;background:#888888;background-size: 1920px;}
.banner4{width: 100%;height: 300px;background:url("../img/bannerxinwen.png") center no-repeat;background-size: cover;}
.banner5{width: 100%;height: 300px;background:url("../img/bannerzhaopin.png") center no-repeat;background-size: cover;}
.banner6{width: 100%;height: 300px;background: url("../img/banner6.png") center no-repeat;background-size: cover;}
.banner21{width: 100%;height: 350px;background: url("../img/banner21.png") center no-repeat;background-size: cover;}
.banner22{width: 100%;height: 350px;background: url("../img/banner22.png") center no-repeat;background-size: cover;}
.banner23{width: 100%;height: 350px;background: url("../img/banner23.png") center no-repeat;background-size: cover;}

.xuanchuan{width: 100%;padding-top: 100px;padding-bottom: 100px;background-color: #F5F5F5;text-align: center;}
.xuanchuan h3{font-size: 28px;font-weight: 400;color: #333;margin-bottom: 80px;}
.xuanchuan1{width: 1200px;margin: 0 auto;}
.xuanchuan1 div{width: 220px;height: 100px;display: inline-block;margin: 0 10px;background: #fff;border-radius: 10px;text-align: left;padding: 30px;}
.xuanchuan1 div p{font-size: 20px;color: #333;margin-bottom: 20px;}
.xuanchuan1 div span{font-size: 14px;color: #666;line-height: 28px;}


@media screen and (max-width: 1200px) {
#nav{display: none;}
.nav-yidong{display: block;width: 100%;height: 50px;position: fixed;top: 0;z-index: 99;background: #fff;}
.nav-yidong img{height: 30px;margin: 10px;float: left;}
#nav2{float: right;margin:16px 10px 0 0;}
#nav2 p{width: 20px;height: 2px;background: #666;margin: 4px;border-radius: 10px;}
#nav3{position: fixed;top:0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,.4);z-index: 66;}
#nav3 div{width: 100%;background: #F5F5F5;padding-top: 50px;padding-bottom: 10px;text-align: center;}
#nav3 div a{font-size: 16px;display: block;color: #666;margin: 40px auto;}

.zxc{height: 50px;}

.swiper-slide img{width: 150%;}

.banner2{height: 120px;}
.banner3{height: 120px;}
.banner4{height: 120px;}
.banner5{height: 120px;}
.banner6{height: 120px;}
.banner21{width: 100%;height: 350px;}
.banner22{width: 100%;height: 350px;}
.banner23{width: 100%;height: 350px;}



.biaoti{font-size: 20px;font-weight: 800;color: #333;width: 100%;text-align: center;letter-spacing:0px}
.biaoti1{font-size: 12px;font-weight: 400;color: #999;width: 80%;margin: 0 10%;text-align: center;letter-spacing: 0px;line-height: 16px;}

.icon{width: 100%;background: #fff;height: 440px;padding-top: 40px;}
.icon h2{margin-bottom:20px;}
.icon h3{margin-bottom: 30px;}
.icon-neirong{width: 100%;margin: 0 auto;}
.icon-neirong div{display: inline-block;width: 50%;text-align: center;background-size:60px ;margin-bottom: 40px;}
.icon-neirong div img{display: none;}
.icon-neirong div p{font-size: 18px;margin: 70px auto 6px;color: #333;}
.icon-neirong div span{display: inline-block;width: 90%;font-size: 12px;color: #999;line-height: 16px;}

.icon-neirong div:hover img{display: none;}
.icon-neirong div:hover p{margin-top: 70px; color: #333;font-size: 18px;}
.icon-neirong div:hover span{display: inline-block;}
	
.work{width: 100%;background: #f5f5f5;height: auto;padding-top: 60px;padding-bottom: 10px;}
.work h2{margin-bottom: 20px;}
.work h3{margin-bottom: 30px;}
.work-neirong{width: 94%;margin: 0 3%;}
.work-border{width: 100%;margin: 0 0 15px 0;display: inline-block;position: relative;}
.work-border-img{width: 100%;height: auto;border-radius: 4px 4px 0 0;overflow: hidden;background: #F5F5F5;}
.work-border-img i{position: absolute;top: 115px;width: 100%;text-align: center;z-index: 99;color: #fff;line-height: 30px;}
.work-border-img img{width: 100%;height: auto;position: relative;top: 0;left: 0;}
.work-border-font{width: 100%;height: 60px;background: #fff;border-radius: 0 0 4px 4px;overflow: hidden;}
.work-border-font p{font-size: 18px;color: #333;margin: 10px 0 6px 10px;}
.work-border-font span{font-size: 14px;color: #999;margin-left: 10px;}
.work-border:hover img{width: 100%;height: auto;opacity: 1;top: 0;left: 0;}
.work-border:hover i{font-size:0;}
.work-border:hover p{color: #333;}
.work-border:hover span{color: #999;}

.gengduo{width: 100%;margin: 30px auto 0;text-align: center;padding-bottom: 20px;}
.gengduo p{font-size: 14px;color: #999;margin: 10px auto 6px;}
.gengduo img{width: 10px;margin-bottom: 10px;}
.gengduo:hover p{color: #666;}

.team{width: 100%;height: auto;background: #fff;padding-top: 60px;padding-bottom: 40px;}
.team-tou{width: 100%;height: 40px;margin: 40px auto 20px;text-align: left;overflow: auto;}
.team-tou div{width: 480px;height: 40px;}
.team-tou p{display: inline-block;font-size: 12px;margin:0 0 0 16px;padding: 10px 10px;border-radius: 100px;cursor: pointer;}
.team-tou p:hover{border-color: #036eb8;}
.team1{border: 1px solid #ccc;color: #666666;}
.team2{border: 1px solid #036eb8;background: #036eb8;color: #fff;}
.team-wei{width: 90%;margin: 0 5%;height: auto;padding-top: 0;background:none ;}
.team-wei img{width: 100%;height: auto;border-radius: 4px;float:  none;margin-left: 0;}
.team-wei div{width: 100%;float: none;margin-right: 0;}
.team-wei h5{font-size: 20px;font-weight: 400;margin: 10px 0 10px;}
.team-wei p{font-size: 14px;color: #666;margin-bottom: 10px;}
.team-wei a{font-size: 10px;display: block;width: 60px;height: 2px;background: #007AFF;margin-bottom: 6px;}
.team-wei span{font-size: 12px;color: #999;line-height: 18px;}

.news{width: 100%;background: #F5F5F5;padding-top: 50px;padding-bottom: 20px;}
.news h2{margin-bottom: 40px;}
.news1{width: 94%;margin: 0 3%;}
.news1 div{width: 100%;display: block;height: auto;margin:0;}
.news1 div img{width: 100%;height: auto;float: none;margin-right: 0;}
.news1 div h6{font-size: 16px;line-height: 22px;color: #333;font-weight: 400;margin: 10px auto 4px;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.news1 div p{font-size: 12px;color: #999;line-height: 18px;width: 100%;height: 36px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.news1 div span{font-size: 18px;color: #ccc;display: inline-block;margin-top: 6px;margin-bottom: 24px;font-weight: 200;}
.news1 div:hover h6{color: #333;}
.news1 div:hover p{color: #999;}

.liucheng{width: 100%;height: auto;padding-top: 60px;padding-bottom: 40px;}
.liucheng h3{font-size: 20px;font-weight: 800;color: #fff;width: 100%;text-align: center;letter-spacing:1px;margin-bottom: 40px;}
.liucheng1{width: 90%;margin: 0 5%;}
.liucheng2{width: 100%;height: 80px;display: block;margin: 20px 0;text-align: left;cursor:pointer;}
.liucheng2 div{float: left;width: 80px;height: 80px;border-radius: 100px;background:rgba(0,0,0,.1);margin-right: 10px;text-align: center;}
.liucheng2 div img{width: 40px;margin-top: 20px;}
.liucheng1 p{font-size: 16px;color: #fff;margin:0;padding: 14px 0 6px;}
.liucheng1 span{font-size: 12px;color: #ccc;line-height: 18px;}
.liucheng2:hover div img{width: 44px;margin-top: 26px;}
.liucheng2:hover p{color: #fff;}
.liucheng2:hover span{color: #ccc;}

.hezuo{width: 100%;background: #fff;height: auto;padding-top: 60px;padding-bottom: 40px;}
.hezuo h3{margin-bottom: 40px;}
.hezuo1{width: 100%;margin: 0 auto;}
.hezuo1 div{width: 50%;height: 0;padding-bottom: 24%;display: inline-block;margin: 0;position: relative;overflow: hidden;cursor: pointer;}
.hezuo1 div img{width: 80%;position: relative;margin: 0 10%;}
.hezuo1 div p{display: none;}
.hezuo1 div:hover img{top: 0;}

.di{width: 100%;height: auto;padding-top: 30px;text-align: center;}
.di-kuang{width: 100%;margin: 0 auto;;}
.di-kuang-left{display: none;}

.di-kuang-left2 a{font-size: 14px;color: #ccc;margin-right: 0;}
.di-kuang-right{float: none;width: 90%;height: auto;margin: 0 5%;}
.di-kuang-right h1{font-size: 18px;font-weight: 400;color: #fff;margin: 0px 0 20px;}
.di-kuang-right p{font-size: 12px;color: #ccc;margin-bottom: 10px;}
.di1{width: 100%;text-align: center;height: 30px;}
.di1 span{display: inline-block;font-size: 8px;line-height: 30px;color: #888;}

.xuanchuan{width: 100%;padding-top: 60px;padding-bottom: 40px;background-color: #F5F5F5;text-align: center;}
.xuanchuan h3{font-size: 20px;font-weight: 400;color: #333;margin-bottom: 40px;}
.xuanchuan1{width: 94%;margin: 0 3%;}
.xuanchuan1 div{width: 36%;height: auto;display: inline-block;margin:2%;background: #fff;border-radius: 10px;text-align: left;padding: 5%;}
.xuanchuan1 div p{font-size: 16px;color: #333;margin-bottom: 20px;}
.xuanchuan1 div span{font-size: 12px;color: #666;line-height: 21px;}

}


.anli{width: 1200px;margin: 0 auto 100px;padding-top: 20px;}
.anli-app{width: 100%;height: 400px;background: #F5F5F5;margin: 40px auto;border-radius: 4px;overflow: hidden;transition:background-color 1s;-moz-transition:background-color 1s;-webkit-transition:background-color 1s;-o-transition:background-color 1s;}
.anli-app div{width: 380px;height: 280px;margin: 60px;display: inline-block;position: relative;}
.anli-app h5{font-size:32px;font-weight: 400;color: #333;margin-bottom: 30px;}
.anli-app i{display: block;width: 60px;height: 2px;background: #3399ff;margin-bottom: 30px;transition:width 2s; -moz-transition: width 2s;-webkit-transition: width 2s;-o-transition: width 2s;}
.anli-app h6{font-size: 20px;font-weight: 400;color: #333;margin-bottom: 20px;}
.anli-app p{font-size: 14px;color: #999;line-height: 21px;}
.anli-app span{font-size: 14px;color: #999;position: absolute;bottom: 0;left: 0;width: 74px;background: url(../img/jiantou.png) center right no-repeat;background-size: 12px;}
.anli-app img{height: 400px;float: right;}
.anli-app:hover{background: #3399ff;}
.anli-app:hover h5{color: #fff;}
.anli-app:hover i{background: #fff;width: 364px;}
.anli-app:hover h6{color: #fff;opacity: .8;}
.anli-app:hover p{color: #fff;opacity: .6;}
.anli-app:hover span{color: #fff;background: none;}

.anli-wangzhan{width: 100%;height: 400px;background: #F5F5F5;margin: 40px auto;border-radius: 4px;overflow: hidden;transition:background-color 1s;-moz-transition:background-color 1s;-webkit-transition:background-color 1s;-o-transition:background-color 1s;}
.anli-wangzhan div{width: 380px;height: 280px;margin: 60px;display: inline-block;position: relative;}
.anli-wangzhan h5{font-size:32px;font-weight: 400;color: #333;margin-bottom: 30px;}
.anli-wangzhan i{display: block;width: 60px;height: 2px;background: #ff9933;margin-bottom: 30px;transition:width 2s; -moz-transition: width 2s;-webkit-transition: width 2s;-o-transition: width 2s;}
.anli-wangzhan h6{font-size: 20px;font-weight: 400;color: #333;margin-bottom: 20px;}
.anli-wangzhan p{font-size: 14px;color: #999;line-height: 21px;}
.anli-wangzhan span{font-size: 14px;color: #999;position: absolute;bottom: 0;left: 0;width: 74px;background: url(../img/jiantou.png) center right no-repeat;background-size: 12px;}
.anli-wangzhan img{height: 400px;float: left;}
.anli-wangzhan:hover{background: #ff9933;}
.anli-wangzhan:hover h5{color: #fff;}
.anli-wangzhan:hover i{background: #fff;width: 300px;}
.anli-wangzhan:hover h6{color: #fff;opacity: .8;}
.anli-wangzhan:hover p{color: #fff;opacity: .6;}
.anli-wangzhan:hover span{color: #fff;background: none;}

.anli-weixin{width: 580px;height: 530px;display: inline-block;background: #F5F5F5;margin-right: 40px;border-radius: 4px;overflow: hidden;transition:background-color 1s;-moz-transition:background-color 1s;-webkit-transition:background-color 1s;-o-transition:background-color 1s;}
.anli-weixin img{width: 100%;}
.anli-weixin div{width: 480px;height: 300px;margin:30px 50px;}
.anli-weixin h5{font-size:26px;font-weight: 400;color: #333;margin-bottom: 20px;}
.anli-weixin i{display: block;width: 60px;height: 2px;background: #119814;margin-bottom: 20px;transition:width 2s; -moz-transition: width 2s;-webkit-transition: width 2s;-o-transition: width 2s;}
.anli-weixin h6{font-size: 18px;font-weight: 400;color: #666;margin-bottom: 40px;}
.anli-weixin span{display: block;font-size: 14px;color: #999;width: 74px;background: url('../img/jiantou.png') center right no-repeat;background-size: 12px;}
.anli-weixin:hover{background: #119814;}
.anli-weixin:hover h5{color: #fff;}
.anli-weixin:hover i{background: #fff;width: 310px;}
.anli-weixin:hover h6{color: #fff;opacity: .8;}
.anli-weixin:hover span{color: #fff;background: none;}

.anli-fangan{width: 580px;height: 530px;display: inline-block;background: #F5F5F5;border-radius: 4px;overflow: hidden;transition:background-color 1s;-moz-transition:background-color 1s;-webkit-transition:background-color 1s;-o-transition:background-color 1s;}
.anli-fangan img{width: 100%;}
.anli-fangan div{width: 480px;height: 300px;margin:30px 50px;}
.anli-fangan h5{font-size:26px;font-weight: 400;color: #333;margin-bottom: 20px;}
.anli-fangan i{display: block;width: 60px;height: 2px;background: #ff6262;margin-bottom: 20px;transition:width 2s; -moz-transition: width 2s;-webkit-transition: width 2s;-o-transition: width 2s;}
.anli-fangan h6{font-size: 18px;font-weight: 400;color: #666;margin-bottom: 40px;}
.anli-fangan span{display: block;font-size: 14px;color: #999;width: 74px;background: url('../img/jiantou.png') center right no-repeat;background-size: 12px;}
.anli-fangan:hover{background: #ff6262;}
.anli-fangan:hover h5{color: #fff;}
.anli-fangan:hover i{background: #fff;width: 296px;}
.anli-fangan:hover h6{color: #fff;opacity: .8;}
.anli-fangan:hover span{color: #fff;background: none;}

.xinwen{width: 1200px;margin: 20px auto;background: #fafafa;height: 200px;}
.xinwen-img{width: 300px;height: 160px;border-radius: 4px;overflow: hidden;margin: 20px;float: left;	transition:margin-right 1s;-webkit-transition:margin-right 1s;-moz-transition:margin-right 1s;-o-transition:margin-right 1s;}
.xinwen-img img{width: 300px;}
.xinwen-font{display: inline-block;width: 600px;margin: 40px 0;}
.xinwen-font h6{font-size: 20px;font-weight: 400;color: #666;margin-bottom: 20px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.xinwen-font i{font-size: 14px;color: #999;display: block;margin-bottom: 20px;}
.xinwen-font p{font-size: 14px;color: #999;line-height: 21px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.xinwen-time{width: 150px;float: right;margin: 40px 0;}
.xinwen-time p{font-size: 30px;font-weight: 400;color: #999;margin-left: 10px;}
.xinwen-time span{font-size: 16px;color: #999;display: block;margin-bottom: 50px;margin-left: 10px;}
.xinwen-time i{margin-left: 20px;display: block;font-size: 14px;color: #ccc;width: 76px;background: url('../img/jiantou.png') center right no-repeat;background-size: 12px;transition:color 2s,margin-left 1s;-moz-transition:color 2s,margin-left 1s;-webkit-transition:color 2s,margin-left 1s;}
.xinwen:hover .xinwen-img{margin-right: 40px;}
.xinwen:hover .xinwen-time i{color: #036eb8;margin-left: 0px;}
.xinwen:hover h6{color: #333;}
.xinwen:hover .xinwen-font p{color: #666;}

.xteam-tou{width: 1200px;margin: 80px auto 50px;text-align: center;}
.xteam-tou p{display: inline-block;font-size: 14px;margin:0 10px;padding: 10px 20px;border-radius: 100px;cursor: pointer;}
.xteam-tou p:hover{border-color: #036eb8;}

@media screen and (max-width: 1200px) {
	
.anli{width: 96%;margin: 0 2% 40px;padding-top: 0;}
.anli-app{width: 100%;height: auto;background: #F5F5F5;margin: 20px auto;border-radius: 4px;overflow: hidden;}
.anli-app div{width: 90%;height: auto;margin: 5%;display: inline-block;position: relative;}
.anli-app h5{font-size:20px;font-weight: 400;color: #333;margin-bottom: 20px;}
.anli-app i{display: block;width: 60px;height: 2px;background: #3399ff;margin-bottom: 20px;}
.anli-app h6{font-size: 14px;font-weight: 400;color: #333;margin-bottom: 10px;}
.anli-app p{font-size: 14px;color: #999;line-height: 21px;}
.anli-app span{display: none;}
.anli-app img{width: 100%;height: auto;float: none;}
.anli-app:hover{background: #F5F5F5;}
.anli-app:hover h5{color: #333;}
.anli-app:hover i{background: #3399ff;}
.anli-app:hover h6{color: #333;opacity: 1;}
.anli-app:hover p{color: #999;opacity: 1;}


.anli-wangzhan{width: 100%;height: auto;background: #F5F5F5;margin: 20px auto;border-radius: 4px;overflow: hidden;}
.anli-wangzhan div{width: 90%;height: auto;margin: 5%;display: inline-block;position: relative;}
.anli-wangzhan h5{font-size:20px;font-weight: 400;color: #333;margin-bottom: 20px;}
.anli-wangzhan i{display: block;width: 60px;height: 2px;background: #ff9933;margin-bottom: 20px;}
.anli-wangzhan h6{font-size: 14px;font-weight: 400;color: #333;margin-bottom: 10px;}
.anli-wangzhan p{font-size: 14px;color: #999;line-height: 21px;}
.anli-wangzhan span{display: none;}
.anli-wangzhan img{width: 100%;height: auto;float: none;}
.anli-wangzhan:hover{background: #F5F5F5;}
.anli-wangzhan:hover h5{color: #333;}
.anli-wangzhan:hover i{background: #ff9933;}
.anli-wangzhan:hover h6{color: #333;opacity:1;}
.anli-wangzhan:hover p{color: #999;opacity:1;}

.anli-weixin{width: 100%;height: auto;display: inline-block;background: #F5F5F5;margin-right: 0;margin-bottom: 20px;border-radius: 4px;overflow: hidden;}
.anli-weixin img{width: 100%;}
.anli-weixin div{width: 90%;height: auto;margin: 5%;}
.anli-weixin h5{font-size:20px;font-weight: 400;color: #333;margin-bottom: 20px;}
.anli-weixin i{display: block;width: 60px;height: 2px;background: #119814;margin-bottom: 20px;}
.anli-weixin h6{font-size: 14px;font-weight: 400;color: #666;margin-bottom: 40px;}
.anli-weixin span{display: block;font-size: 12px;color: #999;width: 64px;background: url('../img/jiantou.png') center right no-repeat;background-size: 10px;}
.anli-weixin:hover{background: #F5F5F5;}
.anli-weixin:hover h5{color: #333;}
.anli-weixin:hover i{background: #119814;}
.anli-weixin:hover h6{color: #666;opacity:1;}
.anli-weixin:hover span{color: #999;background: none;}

.anli-fangan{width: 100%;height: auto;display: inline-block;background: #F5F5F5;border-radius: 4px;overflow: hidden;}
.anli-fangan img{width: 100%;}
.anli-fangan div{width: 90%;height: auto;margin:5%}
.anli-fangan h5{font-size:20px;font-weight: 400;color: #333;margin-bottom: 20px;}
.anli-fangan i{display: block;width: 60px;height: 2px;background: #ff6262;margin-bottom: 20px;}
.anli-fangan h6{font-size: 14px;font-weight: 400;color: #666;margin-bottom: 40px;}
.anli-fangan span{display: block;font-size: 12px;color: #999;width: 64px;background: url('../img/jiantou.png') center right no-repeat;background-size: 10px;}
.anli-fangan:hover{background: #F5F5F5;}
.anli-fangan:hover h5{color: #333;}
.anli-fangan:hover i{background: #ff6262;}
.anli-fangan:hover h6{color: #666;opacity: 1;}
.anli-fangan:hover span{color: #999;background: none;}

.xinwen{width: 100%;margin: 20px auto;background: #fff;height: auto;}
.xinwen-img{width: 94%;height: 180px;border-radius: 4px;overflow: hidden;margin: 10px 3%;float: none;	transition:margin-right 1s;-webkit-transition:margin-right 1s;-moz-transition:margin-right 1s;-o-transition:margin-right 1s;}
.xinwen-img img{width: 100%;}
.xinwen-font{display: block;width: 94%;margin: 15px 3% 10px;}
.xinwen-font h6{font-size: 16px;font-weight: 400;color: #333;margin-bottom: 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.xinwen-font i{display: none;}
.xinwen-font p{font-size: 14px;color: #999;line-height: 18px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.xinwen-time{width: 100%;float: none;margin: 0;border-bottom: 1px solid #F5F5F5;}
.xinwen-time p{font-size: 12px;font-weight: 400;color: #ccc;margin-left: 10px;display: inline-block;}
.xinwen-time span{font-size: 12px;color: #ccc;display: inline-block;margin-bottom: 10px;margin-left: 10px;}
.xinwen-time i{display: none;}
.xinwen:hover .xinwen-img{margin-right: 0;}
.xinwen:hover h6{color: #333;}
.xinwen:hover .xinwen-font p{color: #666;}

.xteam-tou{width: 100%;height: 36px;margin: 30px auto 20px;text-align: center;overflow: auto;}
.xteam-tou div{width: 480px;height: 36px;}
.xteam-tou p{display: inline-block;font-size: 14px;margin:0 20px;padding: 8px 15px;border-radius: 100px;cursor: pointer;}
.xteam-tou p:hover{border-color: #036eb8;}

}

.xiang-bg{width: 100%;background: #fafafa;}
.xiang{width: 1200px;margin: 0px auto;padding: 40px 0;}
.xiang-left{width: 940px;display: inline-block;}
.mianbaoxie{width: 100%;height: 40px;}
.mianbaoxie a{display: inline-block;font-size: 16px;color: #999;margin: 0 5px;}
.mianbaoxie span{display: inline-block;font-size: 16px;color: #666;margin: 0 5px;}
.mianbaoxie a:hover{color: #036eb8;}
.xiang-nei{width: 100%;background: #fff;}
.xiang-biaoti{width: 94%;margin: 0 3% 20px;text-align: center;border-bottom: 1px solid #e5e5e5;padding-top: 20px;}
.xiang-biaoti h6{font-size: 26px;font-weight: 400;color: #333;line-height: 38px;}
.xiang-biaoti p{font-size: 16px;color: #999;margin: 10px auto 20px;}
.xiang-neirong{width: 94%;margin: 0 3%;padding-bottom: 30px;}
.xiang-neirong img{width: 100%;}
.xiang-neirong p{font-size: 16px;line-height: 1.5em;}
.xiang-right{width: 240px;float: right;}
.xiang-right h6{font-size: 16px;color: #666;height: 40px;font-weight: 400;}
.nei{width: 100%;background: #fff;}
.nei div{width: 90%;margin:0 5%;padding: 5% 0 2%;border-bottom: 1px solid #E5E5E5;}
.nei div img{width: 100%;border-radius: 3px;}
.nei div p{font-size: 16px;color: #333;line-height: 40px;display: inline-block;margin-right: 10px;}
.nei div span{font-size: 12px;color: #999;}
.nei div:hover p{color: #036eb8;}
.nei div:hover span{color: #666;}
.nei1{width: 100%;background: #fff;}
.nei1 div{width: 90%;margin:0 5%;padding: 5% 0 7%;border-bottom: 1px solid #E5E5E5;}
.nei1 div img{width: 100%;border-radius: 3px;}
.nei1 div p{font-size: 16px;color: #333;line-height: 22px;margin: 10px auto;display: block;}
.nei1 div span{font-size: 12px;color: #999;}
.nei1 div:hover p{color: #036eb8;}
.nei1 div:hover span{color: #666;}


@media screen and (max-width: 1200px) {
	
.xiang-bg{width: 100%;background: #fafafa;}
.xiang{width: 100%;margin: 0px auto;padding: 30px 0;}
.xiang-left{width: 100%;display: block;}
.mianbaoxie{width: 100%;height: 30px;}
.mianbaoxie a{display: inline-block;font-size: 14px;color: #999;margin: 0 3px;}
.mianbaoxie span{display: inline-block;font-size: 14px;color: #666;margin: 0 3px;}
.mianbaoxie a:hover{color: #036eb8;}
.xiang-nei{width: 100%;background: #fff;}
.xiang-biaoti{width: 94%;margin: 0 3% 20px;text-align: center;border-bottom: 1px solid #e5e5e5;padding-top: 20px;}
.xiang-biaoti h6{font-size: 18px;font-weight: 400;color: #333;line-height: 26px;}
.xiang-biaoti p{font-size: 14px;color: #999;margin: 10px auto 20px;}
.xiang-neirong{width: 94%;margin: 0 3%;padding-bottom: 30px;}
.xiang-neirong img{width: 100%;}
.xiang-neirong p{font-size: 14px;line-height: 1.5em;}
.xiang-right{display: none;}
	
	
}


.jianjie{width: 1200px;margin: 0 auto;}
.jianjie h2{font-size: 28px;color: #333;font-weight: 400;width: 100%;text-align: center;margin: 80px auto 60px;}　
.jianjie1{height: 300px;background: #999;}
.jianjie1 img{float: left;width: 500px;height: 400px;margin-right: 40px;}
.jianjie1 div{background: #F5F5F5;height: 360px;padding-top: 40px;}
.jianjie1 p{font-size: 16px;color: #666;line-height: 28px;margin:15px 0;padding-right: 30px;}
.jianjie1 span{font-size: 18px;color: #333;}

.lian{width: 100%;text-align: center;margin: 100px 0 0;}
.lian h6{font-size: 28px;color: #666;font-weight: 200;}

.lianxi{width: 1200px;margin: 80px auto;background: #FAFAFA;}
.lianxi-left{display: inline-block;width: 400px;padding: 60px 0 20px 50px;margin: 0;}
.lianxi-left h2{font-size: 26px;font-weight: 400;color: #333;}
.lianxi-left div{height: 60px;margin: 40px 0;}
.lianxi-left div img{height: 60px;float: left;margin-right: 20px;}
.lianxi-left div p{font-size: 18px;color: #999;line-height: 34px;}
.lianxi-left div span{font-size: 16px;color: #666;}

.lianxi-right{float: right;width: 640px;}
.form-item{width: 100%;margin: 50px auto 0;}
.form-item input{display: inline-block;width: 220px;margin: 20px;font-size: 16px;background: #fff;line-height: 50px;padding: 0 20px;border-radius: 4px;}
.form-item1 input{display: inline-block;width: 520px;margin: 20px;font-size: 16px;background: #fff;line-height: 50px;padding: 0 20px;border-radius: 4px;}
.form-btn{width: 560px;margin: 10px 20px;font-size: 18px;background: #1ab2ff;line-height: 40px;border-radius: 4px;color: #fff;}

#container {width:1200px; height: 400px; margin: 0 auto 80px;}  

@media screen and (max-width: 1200px) {

.jianjie{width: 96%;margin: 0 2%;border-radius: 10px;}
.jianjie h2{font-size: 20px;color: #333;font-weight: 400;width: 100%;text-align: center;margin: 40px auto;}　
.jianjie1{height: auto;background: #999;}
.jianjie1 img{float: none;width: 100%;height: auto;margin-right: 0;border-radius: 8px 8px 0 0;}
.jianjie1 div{background: #F5F5F5;height: auto; padding:20px 10px;border-radius:0 0 8px 8px;}
.jianjie1 p{font-size: 14px;color: #666;line-height: 21px;margin:10px 0;padding-right: 0;}
.jianjie1 span{font-size: 16px;color: #333;}

.lian{width: 100%;text-align: center;margin: 60px 0 0;}
.lian h6{font-size: 16px;color: #666;font-weight: 200;}
	
.lianxi{width: 100%;margin: 40px auto;background: #FAFAFA;}
.lianxi-left{display: block;width: 90%;padding:40px 5% 30px 5%;margin: 0 auto;}
.lianxi-left h2{font-size: 20px;font-weight: 400;color: #333;padding-bottom: 20px;}
.lianxi-left div{height: 44px;margin: 20px 0;}
.lianxi-left div img{height: 44px;float: left;margin-right: 4%;}
.lianxi-left div p{font-size: 14px;color: #999;line-height: 26px;}
.lianxi-left div span{font-size: 14px;color: #666;}

.lianxi-right{float: none;width: 100%;}
.form-item{width:96%;margin: 10px auto 0;padding: 2% 2% 0 2%;}
.form-item input{display: inline-block;width: 43%;margin: 1% 0 1%  2%;font-size: 14px;background: #fff;line-height: 40px;padding: 0 2%;border-radius: 4px;}
.form-item1 input{display: inline-block;width:88%;margin: 1% 0 1%  4%;font-size: 14px;background: #fff;line-height: 40px;padding: 0 2%;border-radius: 4px;}
.form-btn{width: 88%;margin: 10px 5% 40px;font-size: 16px;background: #1ab2ff;line-height: 40px;border-radius: 4px;color: #fff;}

#container {width:96%; height: 300px; margin: 0 2% 30px;border-radius: 4px;}  

}


.zhao{width: 1200px;margin: 100px auto;}
.zhao-left{width: 860px;display: inline-block;}
.zhao1{width: 100%;height: 80px;}
.zhao1 p{font-size: 14px;padding: 10px 30px;border-radius: 100px;display: inline-block;margin-right: 40px;cursor: pointer;}
.zhao1 p:hover{border-color: #036eb8;}
.zhao2{width: 100%;border-bottom: 1px solid #E5E5E5;margin: 20px 0 60px;}
.zhao3{width: 100%;}
.zhao3 span{font-size: 14px;color: #ccc;display: inline-block;margin-right: 40px;}
.zhao4{width: 100%;margin: 30px 0 40px;}
.zhao4 h6{font-size: 20px;font-weight: 600;color: #333;}
.zhao4 p{font-size: 16px;color: #999;margin: 30px 0 10px;font-weight: 600;}
.zhao4 span{font-size: 14px;color: #999;display: block;line-height: 21px;margin: 5px 0;}

.zhao-right{width: 260px;float: right;margin: 40px 0;}
.zhao-right p{font-size: 16px;color: #999;margin: 30px 0;}
.zhao-right span{display: block;font-size: 14px;color: #666;margin: 15px 0;line-height: 21px;}

@media screen and (max-width: 1200px) {

.zhao{width: 94%;margin: 30px 3%;}
.zhao-left{width: 100%;display: block;}
.zhao1{width: 100%;height: auto;}
.zhao1 p{font-size: 14px;padding: 8px 20px;border-radius: 100px;display: inline-block;margin: 10px;cursor: pointer;}
.zhao1 p:hover{border-color: #036eb8;}
.zhao2{width: 100%;border-bottom: 1px solid #E5E5E5;margin: 20px 0 40px;}
.zhao3{width: 100%;}
.zhao3 span{font-size: 12px;color: #ccc;display: inline-block;margin-right: 20px;line-height: 20px;}
.zhao4{width: 100%;margin: 20px 0 30px;}
.zhao4 h6{font-size: 18px;font-weight: 600;color: #333;}
.zhao4 p{font-size: 14px;color: #999;margin: 20px 0 10px;font-weight: 600;}
.zhao4 span{font-size: 14px;color: #999;display: block;line-height: 20px;margin: 4px 0;}

.zhao-right{width: 100%;float: none;margin: 20px 0;}
.zhao-right p{font-size: 16px;color: #036eb8;margin: 20px 0;}
.zhao-right span{display: block;font-size: 14px;color: #666;margin: 10px 0;line-height: 20px;}

}


.work1{width: 100%;background: #f5f5f5;height: auto;padding-top: 100px;padding-bottom: 40px;}
.work1 h2{margin-bottom: 20px;}
.work1 h3{margin-bottom: 60px;}
.work1-neirong{width: 1200px;margin: 0 auto;}
.work1-border{width: 380px;margin: 10px;display: inline-block;position: relative;}
.work1-border-img{width: 380px;height: 260px;border-radius: 4px 4px 0 0;overflow: hidden;background: #000;}
.work1-border-img i{position: absolute;top: 115px;width: 100%;text-align: center;z-index: 99;color: #fff;line-height: 30px;}
.work1-border-img img{width: 380px;height: 260px;position: relative;top: 0;left: 0;
						transition:width 1s,height 1s,left 1s,top 1s;
					-webkit-transition:width 1s,height 1s,left 1s,top 1s; /* Safari */
					-moz-transition:width 1s,height 1s,left 1s,top 1s;; /* Firefox 4 */
					-o-transition: width 1s,height 1s,left 1s,top 1s;; /* Opera */}
.work1-border-font{width: 380px;height: 110px;background: #fafafa;border-radius: 0 0 4px 4px;overflow: hidden;}
.work1-border-font p{font-size: 18px;color: #333;margin: 20px 0 10px 20px;}
.work1-border-font span{display: inline-block;font-size: 14px;color: #999;margin:0 20px;line-height: 20px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.work1-border:hover img{opacity: .6;width: 400px;height: 274px;left: -10px;top: -7px;}
.work1-border:hover i{font-size: 18px;}
.work1-border:hover p{color: #036eb8;}
.work1-border:hover span{color: #333;}

@media screen and (max-width: 1200px) {
.work1{width: 100%;background: #f5f5f5;height: auto;padding-top: 40px;padding-bottom: 10px;}
.work1 h2{margin-bottom: 20px;}
.work1 h3{margin-bottom: 30px;}
.work1-neirong{width: 94%;margin: 0 3%;}
.work1-border{width: 100%;margin: 0 0 15px 0;display: inline-block;position: relative;}
.work1-border-img{width: 100%;height: auto;border-radius: 4px 4px 0 0;overflow: hidden;background: #F5F5F5;}
.work1-border-img i{position: absolute;top: 115px;width: 100%;text-align: center;z-index: 99;color: #fff;line-height: 30px;}
.work1-border-img img{width: 100%;height: auto;position: relative;top: 0;left: 0;}
.work1-border-font{width: 100%;height: 80px;background: #fff;border-radius: 0 0 4px 4px;overflow: hidden;}
.work1-border-font p{font-size: 18px;color: #333;margin: 10px 0 6px 10px;}
.work1-border-font span{font-size: 14px;color: #999;margin:0 10px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.work1-border:hover img{width: 100%;height: auto;opacity: 1;top: 0;left: 0;}
.work1-border:hover i{font-size:0;}
.work1-border:hover p{color: #333;}
.work1-border:hover span{color: #999;}

}

.fangan-m{width: 100%;border-top: 1px solid #E5E5E5;}
.fangan-m1{width: 1200px;margin: 60px auto 20px;}
.fangan-i{width: 1200px;margin: 0 auto 60px;}
.fangan-i img{width: 460px;border-radius: 4px;}
.fangan-i div{float: right;width: 700px;position: relative;height: 320px;}
.fangan-i div p{font-size: 26px;margin: 20px 0 30px;color: #333;}
.fangan-i div span{font-size: 16px;line-height: 32px;color: #666;}
.fangan-i div a{font-size: 14px;display: block;width: 200px;height: 40px;text-align: center;line-height: 40px;background: #FF5533;color: #fff;border-radius: 2px;position: absolute;bottom: 30px;cursor: pointer;}
.fangan-i div a:hover{background: #e54c2e;}

.fangan-b{width: 1200px;margin: 0 auto 40px;height: 50px;background: #FAFAFA;}
.fangan-b p{font-size: 16px;line-height: 40px;width: 160px;text-align: center;display: inline-block;margin: 8px 20px 0 10px;cursor: pointer;}
.fanganb1{border-bottom: 2px solid #FF5533;color: #FF5533;}
.fangan-b p:hover{color: #FF5533;}

.fangan-n{width: 1200px;margin: 0 auto 60px;}
.fangan-n p{font-size: 16px;color: #333;line-height: 1.5em;}
.fangan-n span{font-size: 16px;color: #333;line-height: 1.5em;}
.fangan-n img{max-width: 100%;}

#fangan2{margin-bottom: 80px;}

@media screen and (max-width: 1200px) {
.fangan-m{width: 100%;border-top: 1px solid #E5E5E5;}
.fangan-m1{width: 96%;margin: 30px 2% 10px;}
.fangan-i{width: 100%;margin: 0 auto 30px;}
.fangan-i img{width: 100%;border-radius: 0;}
.fangan-i div{float: none;width: 96%;position: relative;height: auto;margin: 0 2%;}
.fangan-i div p{font-size: 22px;margin: 20px 0 20px;color: #333;}
.fangan-i div span{font-size: 14px;line-height: 21px;color: #666;}
.fangan-i div a{font-size: 14px;display: block;margin-top: 30px;width: 100%;height: 40px;text-align: center;line-height: 40px;background: #FF5533;color: #fff;border-radius: 4px;position: relative;bottom: 0;}

.fangan-b{width: 100%;margin: 0 auto 20px;height: 50px;background: #FAFAFA;}
.fangan-b p{font-size: 14px;line-height: 40px;width: 50%;text-align: center;display: inline-block;margin: 8px 0 0 0;cursor: pointer;}
.fanganb1{border-bottom: 1px solid #FF5533;color: #FF5533;}
.fangan-b p:hover{color: #FF5533;}

.fangan-n{width: 96%;margin: 0 2% 60px;}
.fangan-n p{font-size: 14px;color: #333;line-height: 1.5em;}
.fangan-n span{font-size: 14px;color: #333;line-height: 1.5em;}
.fangan-n img{width: 100%;}

#fangan2{margin-bottom: 40px;}



}



