<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
		<title>山东麦贝网络技术有限公司-服务&案例</title>
		<link rel="stylesheet" href="../../static/css/xiaomojiang.css" />

	</head>
	<body>
		
<ul id="nav"> 
		<div class="nav-neirong">
			<img src="../../static/img/logo.png">
    		<div>
    			<li><a href="index.html">首页</a></li> 
            <li><a href="2anli.html" style="color: #036eb8;">服务&案例</a>
                <ul>
                    <li><a href="app.html">APP开发</a></li>
                    <li><a href="wangzhan.html">网站建设</a></li>
                    <li><a href="weixin.html">微信小程序</a></li>
                </ul>
            </li>
            <li><a href="4xinwen.html">新闻&动态</a></li> 
            <li><a href="5zhaopin.html">招贤纳士</a></li>
            <li><a href="6lianxi.html">联系我们</a></li> 
    		</div>
    </div>
</ul>        

<div class="nav-yidong">
	<img src="../../static/img/logo.png">
	<div id="nav2">
		<p></p>
		<p></p>
		<p></p>
	</div>
</div>
<div id="nav3">
	<div>
		<a href="index.html">首页</a>
		<a href="2anli.html" style="color: #036eb8;">服务&案例</a>
       
        <a href="4xinwen.html">新闻&动态</a>
        <a href="5zhaopin.html">招贤纳士</a>
        <a href="6lianxi.html">联系我们</a>
	</div>
</div>
<script>
	nav2.onclick=function(){
		if(nav3.style.display=="block"){
			nav3.style.display="none";
		}else{
			nav3.style.display="block";	
		}
	}
</script>

<div class="zxc"></div>

<div class="banner2"></div>

<div class="anli">
	<a href="app.html">
	<div class="anli-app">
		<img src="../../static/img/anli1.png">
		<div>
			<h5>APP开发</h5>
			<i></i>
			<h6>卓越的交互体验 为更广阔的移动营销而生</h6>
			<p>经典智能科技APP开发为传统企业转型升级，提供个性化的移动应用定制开发服务、商业模式咨询、用户体验设计、交互设计，移动应用技术研发和推广运营服务。</p>
			<span>查看案例</span>
		</div>
		
	</div>
	</a>
	
	<a href="wangzhan.html">
	<div class="anli-wangzhan">
		<img src="../../static/img/anli2.png">
		<div>
			<h5>高端网站建设</h5>
			<i></i>
			<h6>十余年建站经验 以实力为专业注解</h6>
			<p>互联网作为唯一一种全天候24小时不间断的媒体平台是传统媒体 可望不可及 的。作为一个企业，在建立自己的网站，最显而易见的就是可以向世界展示自己的企业风采，让更多人了解自己的企业，使企业能够在公众知名度上有一定的提升。</p>
			<span>查看案例</span>
		</div>
		
	</div>
	</a>	

	<a href="weixin.html">
	<div class="anli-weixin">
		<img src="../../static/img/anli3.png">
		<div>
			<h5>微信小程序</h5>
			<i></i>
			<h6>人人都离不开微信 也离不开微信小程序</h6>
			<span>查看案例</span>
		</div>
	</div>
	</a>	
	
	<a href="3fangan.html">
	<div class="anli-fangan">
		<img src="../../static/img/anli4.png">
		<div>
			<h5>解决方案定制</h5>
			<i></i>
			<h6>抓住眼球 深入人心 以实力为专业注解</h6>
			<span>查看案例</span>
		</div>
	</div>
	</a>	

</div>

<!--di-->
<div class="di">
	<div class="di-kuang">
		<div class="di-kuang-left">
			<div class="di-kuang-left1">
				<a href="index.html">网站首页</a>
				<a href="2anli.html">客户案例</a>
				<a href="3fangan.html">方案定制</a>
				<a href="5zhaopin.html">招贤纳士</a>
				<a href="6lianxi.html">联系我们</a>
			</div>
			<p>友情链接</p>
			<div class="di-kuang-left2">
				<a href="#">糖醋里脊科技</a>
				<a href="#">芝麻数据</a>
			</div>
		</div>
		<div class="di-kuang-right">
			<h1>山东麦贝网络技术有限公司</h1>
			<p>山东省&nbsp;济宁市&nbsp;菱花路30号&nbsp;摩天大厦6楼</p>
			<p>0537-6506777&nbsp;&nbsp;18563715777</p>
		</div>
	</div>
	<div class="di1">
		<span>Copyright © 2019 山东麦贝 All Rights Reserved</span>
	</div>
</div>

	</body>
</html>
