<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
		<title>山东麦贝网络技术有限公司-招贤纳士</title>
		<link rel="stylesheet" href="../../static/css/xiaomojiang.css" />

	</head>
	<body>

<ul id="nav"> 
		<div class="nav-neirong">
			<img src="../../static/img/logo.png">
    		<div>
    			<li><a href="index.html">首页</a></li> 
            <li><a href="2anli.html">服务&案例</a>
                <ul>
                    <li><a href="app.html">APP开发</a></li>
                    <li><a href="wangzhan.html">网站建设</a></li>
                    <li><a href="weixin.html">微信小程序</a></li>
                </ul>
            </li>
            <li><a href="4xinwen.html">新闻&动态</a></li> 
            <li><a href="5zhaopin.html" style="color: #036eb8;">招贤纳士</a></li>
            <li><a href="6lianxi.html">联系我们</a></li> 
    		</div>
    </div>
</ul>        

<div class="nav-yidong">
	<img src="../../static/img/logo.png">
	<div id="nav2">
		<p></p>
		<p></p>
		<p></p>
	</div>
</div>
<div id="nav3">
	<div>
		<a href="index.html">首页</a>
		<a href="2anli.html">服务&案例</a>
        <a href="4xinwen.html">新闻&动态</a>
        <a href="5zhaopin.html" style="color: #036eb8;">招贤纳士</a>
        <a href="6lianxi.html">联系我们</a>
	</div>
</div>
<script>
	nav2.onclick=function(){
		if(nav3.style.display=="block"){
			nav3.style.display="none";
		}else{
			nav3.style.display="block";	
		}
	}
</script>

<div class="zxc"></div>

<div class="banner5"></div>

<div class="zhao">
	<div class="zhao-left">
		<div class="zhao1">
			<p class="team2">技术</p>
			<p class="team1">销售</p>
			<p class="team1">行政</p>
		</div>
		<div class="zhao2">
			<div class="zhao3">
				<span>发布日期：2018-01-01 18:00</span>
				<span>工作地点：山东 济宁</span>
				<span>招聘人数：若干</span>
				<span>工作经验：两年以上</span>
			</div>
			<div class="zhao4">
				<h6>大数据开发工程师</h6>
				<p>岗位要求：</p>
				<span>1.计算机相关本科及以上学历，两年以上同岗位经验</span>
				<span>2.熟悉Linux/Unix系统，熟练掌握Shell/Python/Java/Scala编程（至少一种）；</span>
				<span>3.扎实的java基础，熟悉java web开发，熟悉restful服务设计开发；</span>
				<span>4.熟悉分布式系统的设计开发和大数据平台工具的使用和开发，如：Mapreduce/Hive/Spark/kafka/HDFS/HBase等；</span>
				<p>岗位职责：</p>
				<span>1.负责日常项目及大数据平台开发工作；</span>
				<span>2.负责系统模块的设计，重构，技术文档撰写；</span>
			</div>
		</div>
		<div class="zhao2">
			<div class="zhao3">
				<span>发布日期：2018-01-01 18:00</span>
				<span>工作地点：山东 济宁</span>
				<span>招聘人数：若干</span>
				<span>工作经验：两年以上</span>
			</div>
			<div class="zhao4">
				<h6>大数据开发工程师</h6>
				<p>岗位要求：</p>
				<span>1.计算机相关本科及以上学历，两年以上同岗位经验</span>
				<span>2.熟悉Linux/Unix系统，熟练掌握Shell/Python/Java/Scala编程（至少一种）；</span>
				<span>3.扎实的java基础，熟悉java web开发，熟悉restful服务设计开发；</span>
				<p>岗位职责：</p>
				<span>1.负责日常项目及大数据平台开发工作；</span>
				<span>2.负责系统模块的设计，重构，技术文档撰写；</span>
			</div>
		</div>
		
		
	</div>
	<div class="zhao-right">
		<p>联系方式：</p>
		<span>邮箱：18563715777@163.com</span>
		<span>电话：0537-6506777</span>
		<span>双休，法定节假日，年终奖金，项目奖金，社保缴纳，出差补助</span>
	</div>
	
</div>


<!--di-->
<div class="di">
	<div class="di-kuang">
		<div class="di-kuang-left">
			<div class="di-kuang-left1">
				<a href="index.html">网站首页</a>
				<a href="2anli.html">客户案例</a>
				<a href="3fangan.html">方案定制</a>
				<a href="5zhaopin.html">招贤纳士</a>
				<a href="6lianxi.html">联系我们</a>
			</div>
			<p>友情链接</p>
			<div class="di-kuang-left2">
				<a href="#">糖醋里脊科技</a>
				<a href="#">芝麻数据</a>
			</div>
		</div>
		<div class="di-kuang-right">
			<h1>山东麦贝网络技术有限公司</h1>
			<p>山东省&nbsp;济宁市&nbsp;菱花路30号&nbsp;摩天大厦6楼</p>
			<p>0537-6506777&nbsp;&nbsp;18563715777</p>
		</div>
	</div>
	<div class="di1">
		<span>Copyright © 2019 山东麦贝 All Rights Reserved</span>
	</div>
</div>

	</body>
</html>
