<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
		<title>山东麦贝网络技术有限公司-联系我们</title>
		<link rel="stylesheet" href="css/xiaomojiang.css" />

	</head>
	<body>

<ul id="nav"> 
		<div class="nav-neirong">
			<img src="img/logo.png">
    		<div>
    			<li><a href="index.html">首页</a></li> 
            <li><a href="2anli.html">服务&案例</a>
                <ul>
                    <li><a href="app.html">APP开发</a></li>
                    <li><a href="wangzhan.html">网站建设</a></li>
                    <li><a href="weixin.html">微信小程序</a></li>
                </ul>
            </li>
            <li><a href="4xinwen.html">新闻&动态</a></li> 
            <li><a href="5zhaopin.html">招贤纳士</a></li>
            <li><a href="6lianxi.html" style="color: #036eb8;">联系我们</a></li> 
    		</div>
    </div>
</ul>        

<div class="nav-yidong">
	<img src="img/logo.png">
	<div id="nav2">
		<p></p>
		<p></p>
		<p></p>
	</div>
</div>
<div id="nav3">
	<div>
		<a href="index.html">首页</a>
		<a href="2anli.html">服务&案例</a>
        <a href="4xinwen.html">新闻&动态</a>
        <a href="5zhaopin.html">招贤纳士</a>
        <a href="6lianxi.html" style="color: #036eb8;">联系我们</a>
	</div>
</div>
<script>
	nav2.onclick=function(){
		if(nav3.style.display=="block"){
			nav3.style.display="none";
		}else{
			nav3.style.display="block";	
		}
	}
</script>

<div class="zxc"></div>

<div class="banner6"></div>

<div class="jianjie">
	<h2></h2>
	<div class="jianjie1">
		<img src="img/anli4.png" />
		<div>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>山东麦贝网络技术有限公司</span>&nbsp;是一家致力于高品质软件定制开发和创意广告设计的创意互联网公司。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;麦贝以技术研发为主导，拥有技术成熟配置齐整配合默契的技术团队，为客户定制设计开发高品质软件；以创意设计为蹊径，拥有广告设计文案撰写活动策划的设计团队，为企业和个人打造立体化宣传。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;麦贝现已推出各行业全方位的解决方案，与数十家企事业单位达成长期合作，用专业和诚意赢得认可。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;麦贝以“匠心品质精雕细琢，极客精神追求完美”为矩尺，倾注心血，铸就精品。一如既往的以最大的热情，携手每一位客户，共创美好未来！</p>
		</div>
	</div>
</div>
<div class="lian">
	<h6>我们期待您的咨询，并将为您提供专业服务</h6>
</div>
<div class="lianxi">
	<div class="lianxi-left">
		<h2>山东麦贝网络技术有限公司</h2>
		<div>
			<img src="img/l1.png">
			<p>电话</p>
			<span>0537-6506777/18563715777</span>
		</div>
		<div>
			<img src="img/l2.png">
			<p>地址</p>
			<span>山东省 济宁市 菱花路30号 摩天大厦6楼</span>
		</div>
		<div>
			<img src="img/l3.png">
			<p>邮箱</p>
			<span>18563715777@163.com</span>
		</div>
	</div>
	<div class="lianxi-right">
		<form action="#" name="loginform" method="post">
			<div class="form-item">
				<input name="title" type="text" placeholder="姓名(必填)">
				<input name="gongsiming" type="text" placeholder="公司名">
				<input name="phone" type="tel" placeholder="手机(必填)">
				<input name="youxiang" type="email" placeholder="邮箱">
			</div>
			<div class="form-item1">
				<input name="liuyan" type="text" placeholder="在此输入留言内容，我们会尽快联系您">
			</div>
  			<button type="button" onclick="" class="form-btn">提交</button>
		</form>
	</div>
</div>

<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.7&key=bf9bf2492b645f00f7cd79d3433da4dc"></script> 

<div id="container"></div> 

<script type="text/javascript">
	var map = new AMap.Map('container',{
  		 mapStyle: 'amap://styles/c7b15aa96d8e8a6d3cba79da1400bbc5', //设置地图的显示样式
        zoom:17,//级别
        center: [116.6417394138,35.4250609184],//中心点坐标
    });
      var marker = new AMap.Marker({
        position:[116.6417394138,35.4250609184]//位置
    });
    map.add(marker);//添加到地图
    AMap.plugin('AMap.ToolBar',function(){//异步加载插件
        var toolbar = new AMap.ToolBar();
        map.addControl(toolbar);
    });
</script>

<!--di-->
<div class="di">
	<div class="di-kuang">
		<div class="di-kuang-left">
			<div class="di-kuang-left1">
				<a href="index.html">网站首页</a>
				<a href="2anli.html">客户案例</a>
				<a href="3fangan.html">方案定制</a>
				<a href="5zhaopin.html">招贤纳士</a>
				<a href="6lianxi.html">联系我们</a>
			</div>
			<p>友情链接</p>
			<div class="di-kuang-left2">
				<a href="#">糖醋里脊科技</a>
				<a href="#">芝麻数据</a>
			</div>
		</div>
		<div class="di-kuang-right">
			<h1>山东麦贝网络技术有限公司</h1>
			<p>山东省&nbsp;济宁市&nbsp;菱花路30号&nbsp;摩天大厦6楼</p>
			<p>0537-6506777&nbsp;&nbsp;18563715777</p>
		</div>
	</div>
	<div class="di1">
		<span>Copyright © 2019 山东麦贝 All Rights Reserved</span>
	</div>
</div>

	</body>
</html>

