<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
		<title>山东麦贝网络技术有限公司</title>
		<link rel="stylesheet" href="../../static/css/xiaomojiang.css" />
		<link rel="stylesheet" href="../../static/css/swiper.css" />

	</head>
	<body>

<ul id="nav"> 
		<div class="nav-neirong">
			<img src="../../static/img/logo.png">
    		<div>
    			<li><a href="index.html" style="color: #036eb8;">首页</a></li> 
            <li><a href="2anli.html">服务&案例</a>
                <ul>
                    <li><a href="app.html">APP开发</a></li>
                    <li><a href="wangzhan.html">网站建设</a></li>
                    <li><a href="weixin.html">微信小程序</a></li>
                </ul>
            </li>
            <li><a href="4xinwen.html">新闻&动态</a></li> 
            <li><a href="5zhaopin.html">招贤纳士</a></li>
            <li><a href="6lianxi.html">联系我们</a></li> 
    		</div>
    </div>
</ul>        

<div class="nav-yidong">
	<img src="../../static/img/logo.png">
	<div id="nav2">
		<p></p>
		<p></p>
		<p></p>
	</div>
</div>
<div id="nav3">
	<div>
		<a href="index.html" style="color: #036eb8;">首页</a>
		<a href="2anli.html">服务&案例</a>
        <a href="4xinwen.html">新闻&动态</a>
        <a href="5zhaopin.html">招贤纳士</a>
        <a href="6lianxi.html">联系我们</a>
	</div>
</div>
<script>
	nav2.onclick=function(){
		if(nav3.style.display=="block"){
			nav3.style.display="none";
		}else{
			nav3.style.display="block";	
		}
	}
</script>

<div class="zxc"></div>

<!--banner  -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../../static/img/banner1.png"></div>
        <div class="swiper-slide"><img src="../../static/img/banner2.png"></div>
        <div class="swiper-slide"><img src="../../static/img/banner3.png"></div>
    </div>
    <!-- 如果需要导航按钮 -->
    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
    
</div>

<!--icon  icon  icon  icon  icon  icon  icon  icon  icon  icon  -->
<div class="icon">
	<h2 class="biaoti">麦贝网络，有品质的程序开发服务商</h2>
	<h3 class="biaoti1">山东麦贝网络技术有限公司是一家致力于高品质软件定制开发和创意广告设计的创意互联网公司</h3>
	<div class="icon-neirong">
		<a href="app.html"><div class="icon2">
			<img src="../../static/img/icon22.png">
			<p>APP开发</p>
			<span>移动互联网的浪潮里，打造属于自己的诺亚方舟</span>
		</div></a>
		<a href="wangzhan.html"><div class="icon1">
			<img src="../../static/img/icon11.png">
			<p>网站建设</p>
			<span>一个好的企业网站，是每个企业必须要拥有的</span>
		</div></a>
		<a href="weixin.html"><div class="icon3">
			<img src="../../static/img/icon33.png">
			<p>微信小程序</p>
			<span>无需下载，触手可及，随时随地打开应用</span>
		</div></a>
		<a href="3fangan.html"><div class="icon4">
			<img src="../../static/img/icon44.png">
			<p>方案定制</p>
			<span>深入挖掘需求，为用户制定完整的解决方案</span>
		</div></a>
	</div>
</div>

<!--案例 案例 案例 案例 案例 案例 案例 案例 案例 案例 案例-->
<div class="work">
	<h2 class="biaoti">看一看我们最近的作品</h2>
	<h3 class="biaoti1">麦贝网络以技术研发为主导，拥有技术成熟配置齐整配合默契的技术团队，为客户定制设计开发高品质软件</h3>
	<div class="work-neirong">
		<a href="anlixiangqing.html"><div class="work-border">
			<div class="work-border-img">
				<i>查看详情</i>
				<img src="../../static/img/cylm.png">
			</div>
			<div class="work-border-font">
				<p>嗨车邮联盟</p>
				<span>移动应用开发</span>
			</div>
		</div></a>
		<a href="anlixiangqing.html"><div class="work-border">
			<div class="work-border-img">
				<i>查看详情</i>
				<img src="../../static/img/mlxy.png">
			</div>
			<div class="work-border-font">
				<p>马来西亚语</p>
				<span>移动应用开发</span>
			</div>
		</div></a>
		<a href="anlixiangqing.html"><div class="work-border">
			<div class="work-border-img">
				<i>查看详情</i>
				<img src="../../static/img/hmw.png">
			</div>
			<div class="work-border-font">
				<p>会猫网</p>
				<span>微信小程序</span>
			</div>
		</div></a>
		<a href="anlixiangqing.html"><div class="work-border">
			<div class="work-border-img">
				<i>查看详情</i>
				<img src="../../static/img/qxj.png">
			</div>
			<div class="work-border-font">
				<p>梁山气象局</p>
				<span>移动应用开发</span>
			</div>
		</div></a>
		<a href="anlixiangqing.html"><div class="work-border">
			<div class="work-border-img">
				<i>查看详情</i>
				<img src="../../static/img/lg.png">
			</div>
			<div class="work-border-font">
				<p>蓝果科技</p>
				<span>网站建设</span>
			</div>
		</div></a>
		<a href="anlixiangqing.html"><div class="work-border">
			<div class="work-border-img">
				<i>查看详情</i>
				<img src="../../static/img/yb.png">
			</div>
			<div class="work-border-font">
				<p>一币</p>
				<span>移动应用开发</span>
			</div>
		</div></a>
	</div>
	<a href="2anli.html"><div class="gengduo">
		<p>查看更多案例</p>
		<img src="../../static/img/jiantou.png" />
	</div></a>
	
</div>

<!--团队  团队  团队  团队  团队  团队  团队  团队  团队  -->
<div class="team">
	<h3 class="biaoti">优秀的团队实力</h3>
	<div class="team-tou">
		<div>
			<p class="team1">运营推广团队</p>
			<p class="team2">产品设计团队</p>
			<p class="team1">技术开发团队</p>
			<p class="team1">售后服务团队</p>
		</div>	
	</div>
	<div class="team-wei">
		<img src="../../static/img/tuandui1.png">
		<div>
			<h5>产品设计团队</h5>
			<p>需求分析、原型制作、效果图设计</p>
			<a></a>
			<span>拥有一个企业网站是每一个企业都应该做的必修课，企业网站的设计、功能、访问速度都会直接影响到客户对企业的认可度和企业的公信力， 我们公司负责了多个大品牌的官网制作，技术力量雄厚。</span>
		</div>	
	</div>
</div>

<!--新闻  新闻  新闻  新闻  新闻  新闻  新闻  新闻  新闻  新闻  新闻  新闻  -->
<div class="news">
	<h2 class="biaoti">资讯共享，链接未来</h2>
	<div class="news1">
		<a href="#"><div>
			<img src="../../static/img/qxj.png">
			<h6>喊了半个世纪的人工智能究竟还缺点啥究竟还缺点啥究竟还缺点啥</h6>
			<p>拥有一个企业网站是每一个企业都应该做的必修课，企业啊网站的设计、功能、访问速度都会直接影响到客户对企业户对企业</p>
			<span>2018-01-26</span>
		</div></a>
		<a href="#"><div>
			<img src="../../static/img/cylm.png">
			<h6>当我们谈论智慧零售时，到底在谈什么？</h6>
			<p>零售在我们生活中是极其常见的一个东西，而智慧零售是在16年阿里云栖大会上，马云提出“新零售”这个概念后才开始存在，那么，当我们谈论智慧零售时，到底在谈什么？</p>
			<span>2018-01-26</span>
		</div></a>
		<a href="#"><div>
			<img src="../../static/img/hmw.png">
			<h6>苹果、微软为何能够二次崛起？</h6>
			<p>洞穿很多表面现象，才更能看清很多事情的微妙变化。 最近几天，科技领域有两个新闻热点与苹果公司有关： 一是微软公司的股票市值突破10000亿美元</p>
			<span>2018-01-26</span>
		</div></a>
		<a href="xinwenxiangqing.html"><div>
			<img src="../../static/img/mlxy.png">
			<h6>带血的庞氏，P2P消亡简史</h6>
			<p>本文将对整个P2P行业乱象进行梳理与记录，以及为什么P2P模式在中国不能完全成立的逻辑论证。本文是对P2P系统性风险的阐述，也是对那个狂热年代的祭奠。</p>
			<span>2018-01-26</span>
		</div></a>
	</div>
	<a href="4xinwen.html"><div class="gengduo">
		<p>查看更多资讯</p>
		<img src="../../static/img/jiantou.png" />
	</div></a>	
	
</div>


<!--流程 流程 流程 流程 流程 流程 流程 流程 流程 流程 流程 流程 -->

<div class="liucheng">
	<h3>严格把控每一项流程</h3>
	<div class="liucheng1">
		<div class="liucheng2">
			<div>
				<img src="../../static/img/1.png">
			</div>
			<p>需求调研</p>
			<span>为您提供全面的需求策划服务，针对需求提供一系列解决方案咨询。</span>
		</div>
		<div class="liucheng2">
			<div>
				<img src="../../static/img/2.png">
			</div>
			<p>合约立项</p>
			<span>细化需求，制作完善的项目开发文档与项目进度计划书。</span>
		</div>
		<div class="liucheng2">
			<div>
				<img src="../../static/img/3.png">
			</div>
			<p>交互/视觉/程序设计</p>
			<span>优秀的设计团队，对完美的设计有着执着的坚持和追求，严格把控每一个细节。</span>
		</div>
		<div class="liucheng2">
			<div>
				<img src="../../static/img/4.png">
			</div>
			<p>前端/后端/程序开发</p>
			<span>为您提供全面的需求策划服务，制作完善的项目书，需求书、策划书。</span>
		</div>
		<div class="liucheng2">
			<div>
				<img src="../../static/img/5.png">
			</div>
			<p>测试上线</p>
			<span>我们对的产品交付遵循严格的测试标准，不达要求绝不交付。</span>
		</div>
	</div>
</div>

<!--伙伴  伙伴  伙伴  伙伴  伙伴  伙伴  伙伴  伙伴  -->
<div class="hezuo">
	<h3 class="biaoti">麦贝合作伙伴</h3>
	<div class="hezuo1">
		<div>
			<img src="../../static/img/hezuo1.png">
			<p>中国邮政</p>
		</div>
		<div>
			<img src="../../static/img/hezuo2.png">
			<p>会猫网-一站式展会服务平台</p>
		</div>
		<div>
			<img src="../../static/img/hezuo3.png">
			<p>720Think</p>
		</div>
		<div>
			<img src="../../static/img/hezuo4.png">
			<p>城市123</p>
		</div>
		<div>
			<img src="../../static/img/hezuo5.png">
			<p>先智科技</p>
		</div>
		<div>
			<img src="../../static/img/hezuo6.png">
			<p>元隆盛建设</p>
		</div>
		<div>
			<img src="../../static/img/hezuo7.png">
			<p>奥晶生物科技</p>
		</div>
		<div>
			<img src="../../static/img/hezuo8.png">
			<p>绿青数据</p>
		</div>
	</div>
</div>

<!--di-->
<div class="di">
	<div class="di-kuang">
		<div class="di-kuang-left">
			<div class="di-kuang-left1">
				<a href="index.html">网站首页</a>
				<a href="2anli.html">客户案例</a>
				<a href="3fangan.html">方案定制</a>
				<a href="5zhaopin.html">招贤纳士</a>
				<a href="6lianxi.html">联系我们</a>
			</div>
			<p>友情链接</p>
			<div class="di-kuang-left2">
				<a href="#">糖醋里脊科技</a>
				<a href="#">芝麻数据</a>
			</div>
		</div>
		<div class="di-kuang-right">
			<h1>山东麦贝网络技术有限公司</h1>
			<p>山东省&nbsp;济宁市&nbsp;菱花路30号&nbsp;摩天大厦6楼</p>
			<p>0537-6506777&nbsp;&nbsp;18563715777</p>
		</div>
	</div>
	<div class="di1">
		<span>Copyright © 2019 山东麦贝 All Rights Reserved</span>
	</div>
</div>


<div class="bg1"></div>


		
<script type="text/javascript" src="../../static/js/swiper.min.js" ></script>
<script>        
  var mySwiper = new Swiper ('.swiper-container', {
    direction: 'horizontal', // 垂直切换选项
    loop: true, // 循环模式选项
    // 如果需要前进后退按钮
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
	speed:1000,
 	 autoplay : {
	    delay:5000
	  },
  })        
  </script>		
		
	</body>
</html>
